.has-bg-img {
  background: url("../images/phillySkyline.png") center center;
  background-size: cover;
  z-index: 2; 
  background-color: rgba(139, 186, 230, 0.75) !important;
  background-blend-mode: color;
}

.fa-angle-double-down {
  color: white; 
}

.is-horizontal-center {
  justify-content: center;
}

.bio-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 5px;  */
}

.custom-gradient {
  margin-top: -80px;
}

.imgwrap {
  width: auto; /*or whatever you choose*/
  margin: auto;
}

.img-wrap {
  min-width: 220px;
}

.tomas-image {
  margin-bottom: 10px;
  border-radius: 60%;
  height: 220px;
  width: auto;
}

.contact-info {
  margin-top: 10px;
}

.project-card {
  margin-bottom: 30px;
}

.navbar-change-white {
  background-color: #fff  !important;
  border-bottom: 1px solid lightgray;
  transition: background-color 200ms linear;
  /* box-shadow: -2px 10px 6px -9px rgba(0,0,0,0.43); */
}

.navbar-change-transparent {
  background-color: transparent !important;
  transition: background-color 200ms linear;
}


.is-vertical-center {
  display: flex;
  align-items: center;
}

hr {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.nav-style {
  color: #323232;
  font-size: 14pt;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}

.intro-welcome {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  font-size: 32pt; 
  margin-top: 80px; 
  color: #323232;
}

.anchor { 
  padding-top: 70px; 
}

.bio-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600; 
  font-size: 20pt; 
  color: #323232;
}


.navbar-height {
  height: 50px;
}

.contact_item {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer.footer.footer-style {
  background-color:#9cc6e8 !important; 
}

@media only screen and (max-width: 600px) {

  .hero-body {
    height: 900px !important;
  }

  .intro-welcome {
    margin-top:300px !important;
  }

  /* .navbar-brand {

  } */
}

/* 
html {
  background-color: rgba(238, 238, 238, 0.5) !important;
  background-image: url(../assets/img/books.png);
  background-blend-mode: color;
} */

